<h1>Manage Users</h1>

 <div class="row">
    <div class="span6 offset3">
<table >
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

 
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first %></td>
        <td><%= user.last %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete %></td>
      </tr>
    <% end %>
  </div>
</div>
</table>

<br>

<%= link_to 'New User', new_user_path %>
